<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a href="/dashboard" class="btn btn-primary">Home</a>
    {% with messages = get_flashed_messages(category_filter=['my_fridge']) %}
        {% if messages %}

        <div class="alert alert-danger">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>

        {% endif %}
    {% endwith %}
        <div class="row mt-3">
            <h1>Añade tus categorias!!</h1>
            <form action="/create_category" method="post">
                <input type="hidden" value="{{user.id}}" name="user_id">
                <div class="col-6 mt-3">
                    <div class="form-group">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="Comida Mexicana" name="Comida Mexicana" id="firstCheckboxStretched">
                                <label class="form-check-label stretched-link" for="firstCheckboxStretched">Comida Mexicana</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="Comida Peruana" name="Comida Peruana" id="secondCheckboxStretched">
                                <label class="form-check-label stretched-link" for="secondCheckboxStretched">Comida Peruana</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="Comida Colombiana" name="Comida Colombiana" id="thirdCheckboxStretched">
                                <label class="form-check-label stretched-link" for="thirdCheckboxStretched">Comida Colombiana</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="Comida China" name="Comida China" id="fourthCheckboxStretched">
                                <label class="form-check-label stretched-link" for="fourthCheckboxStretched">Comida China</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="Comida Italiana" name="Comida Italiana" id="fifthCheckboxStretched">
                                <label class="form-check-label stretched-link" for="fifthCheckboxStretched">Comida Italiana</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="Comida Española" name="Comida Española" id="sixthCheckboxStretched">
                                <label class="form-check-label stretched-link" for="sixthCheckboxStretched">Comida Española</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="Comida Chilena" name="Comida Chilena" id="seventhCheckboxStretched">
                                <label class="form-check-label stretched-link" for="seventhCheckboxStretched">Comida Chilena</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="Comida Americana" name="Comida Americana" id="eigthCheckboxStretched">
                                <label class="form-check-label stretched-link" for="eigthCheckboxStretched">Comida Americana</label>
                            </li>
                        </select>
                    </div>
                    <input type="submit" value="crear" class="btn btn-success mt-3">
                </div>
            </form>
        </div>
    </div>
</body>
</html>