<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <div class="container">
        <a href="/dashboard" class="btn btn-primary">Home</a>
    {% with messages = get_flashed_messages(category_filter=['receta']) %}
        {% if messages %}

        <div class="alert alert-danger">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>

        {% endif %}
    {% endwith %}
        <div class="row">
            <h1>Añade una nueva receta!!</h1>
            <form action="/create_recipe" method="post">
                <input type="hidden" value="{{user.id}}" name="user_id">
                <input type="hidden" value="1" name="preference">  <!--ojo quitar este despues de crear el input categoria -->
                <div class="col-6">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                    <div class="form-group ">
                        <label for="time_cook">Tiempo de cocción</label>
                        <div class="input-group mb-3">
                            <input type="number" id="time_cook" name="time_cook" class="form-control">
                            <span class="input-group-text" id="basic-addon2">mins</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="level_recipe">Nivel de Preparacion: </label>
                        <select name="level_recipe" id="level_recipe">
                            <option value="1">Amateur</option>
                            <option value="2">Intermedio</option>
                            <option value="3">Experto</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="food_type">Clase de Comida: </label>
                        <select name="food_type" id="food_type">
                            <option value="1">Asiatica</option>
                            <option value="2">Hindu</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">descripcion</label>
                        <input type="text" id="description" name="description" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="preparation">Preparacion</label>
                        <input type="text" id="preparation" name="preparation" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="category_id">Clase de Comida: </label>
                        <select name="category_id" id="category_id">
                            {% for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="crear" class="btn btn-success">
                </div>

                <!-- ojo poner aqui un category para escoger la categoria por medio de jinja como cuando hacemos el formulario editar -->
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</body>
</html>