<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


</head>

<body>

    <!-- barra de navegación -->
    <nav class="navbar navbar-ligth  " style="background-color: rgb(254, 166, 32);">
        <div class="container-fluid">
            <p></p>
            <h1 class="text-white">Easy Cock</h1>
            <button class="navbar-toggler btn_white" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header pattern">
                    <div class="box_logo">
                        <img src="../static/img/easy.jpg" width="100px" height="70px" class=" mx-4  " />
                    </div>
                    <h4 class="offcanvas-title" id="offcanvasNavbarLabel">NOMBRE USUARIO
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                        <li class="nav-item">

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Subir foto de perfil
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form action="/upload/logo/user" method="POST" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <input type="file" id="uploadprofile" name="uploadprofile"
                                                accept=".jpg,.png">
                                            <input type="submit" value="Subir foto" class="btn btn_form mt-3">
                                        </div>

                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a class=" btn btn-danger mt-3" href="/logout">Cerrar Sesión</a>
                </div>
                <a class=" btn btn-danger mx-5" href="/deleteuser/{{user.id}}">Eliminar cuenta</a>
            </div>
        </div>
    </nav>

    <div class=" text-center">


        <div class="row">
            <div class="col-2">

                <ul class="list-group">

                    <a href="/dashboard/0" class="list-group-item list-group-item-action hover_atelier">Todas las
                        categorias</a>
                    {% for category in categories %}
                    <a href="/dashboard/{{category.id}}"
                        class="list-group-item list-group-item-action hover_atelier">{{category.name}}</a>
                    {% endfor %}
                </ul>

            </div>


            <div class="col-9 ">

                <ul class="nav nav-tabs  d-flex justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item px-3 mx-3" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                            aria-selected="true">RECETAS</button>
                    </li>
                    <li class="nav-item px-3 mx-3 " role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                            data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane"
                            aria-selected="false">MI NEVERA</button>
                    </li>
                    <li class="nav-item px-3 mx-3" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                            data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane"
                            aria-selected="false">RESEÑAS Y FAVORITOS</button>
                    </li>
 
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                        tabindex="0">
                        <div class="row">
                            {% for recipe in recipes%}
                                <div class="col">
                                
                                    
                                        <div class="card" style="width: 18rem;">
                                            <img src="{{ recipe.img}}" class="d-block w-100" alt="{{recipe.name}}">
                                            <div class="card-body">
                                                <h1></h1>
                                            <p class="card-text">{{recipe.description}}</p>
                                            </div>
                                        </div>
                        
                                </div>
                                {% endfor %}
                                
                            </div>
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                        tabindex="0">
                    
                        <div class="container text-center col-12">
                            <h2>Ingresa tus ingredientes, palabra clave...!!</h2>
                            <form action="/search_ingredients" method="POST" class="input-group mb-3">
                                <input type="text" class="form-control" name="search"
                                    placeholder="Busca tus ingrediente, palabra clave...!!"
                                    aria-label="Busca tus ingrediente, palabra clave...!!" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                                </div>
                            </form>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
            
                                
                    
                                <table class="table table-hover mx-auto">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Nombre</th>
                                            <th></th>
                    
                                        </tr>
                                    <tbody>
                                        {% for ingredient in ingredients %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="{{ingredient.id}}" id="check" name="{{ingredient.id}}">
                    
                                                </div>
                    
                                            </td>
                                            <td><img src="{{ ingredient.img}}" width="80px" alt="{{ingredient.name}}"></td>
                                            <td>{{ingredient.name}}</td>
                                            
                    
                    
                                        </tr>
                                        {% endfor%}
                    
                                    </tbody>
                                    </thead>
                    
                    
                    
                                </table>
            
            
            
                            </div>
                            
            
                        </div>
                    
                    
                    </div>
                    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                        tabindex="0">...</div>
                    
                </div>




                <!-- <div class="nav nav-tabs px-5" id="nav-tab" role="tablist">
                    <button class="nav-link active px-5" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">RECETAS</button>
                    <button class="nav-link px-5" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false">Novedades</button>
                    <button class="nav-link px-5" id="nav-contact-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                        aria-selected="false">Reseñas y favoritos </button>
                    <button class="nav-link px-5" id="nav-contact-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-recipes" type="button" role="tab" aria-controls="nav-recipes"
                        aria-selected="false">Mi nevera </button>
                </div> -->

                <!-- 
                <div class="tab-content" id="nav-tabContent"> -->
                <!-- 
                    <div class="tab-pane fade show active col-9 mt-5" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab" tabindex="0"> -->
                <!-- <div class="form-check ">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Checked checkbox
                            </label> -->

                <!-- </div>


                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                        tabindex="0">

                    </div>

                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                        tabindex="0">

                    </div>

                    <div class="tab-pane fade" id="nav-recipes" role="tabpanel" aria-labelledby="nav-contact-tab"
                        tabindex="0">
                        <div class="form-check ">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>

                    </div>


                </div> -->

            </div>
        </div>








        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

</body>

</html>