<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar receta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <nav class="navbar navbar-ligth  easy_color_nav">
        <div class="container-fluid">
            <p></p>
            <h1 class="text-white">Easy Cook</h1>

            <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>

        </div>
    </nav>

    <div class="container">

        {% with messages = get_flashed_messages(category_filter=['receta']) %}
        {% if messages %}

        <div class="alert alert-danger">
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>

        {% endif %}
        {% endwith %}
        <div class="row mt-3">
            <h1>Edita la receta</h1>
            {% for recipe in receta %}

            <div class="col-6 ">
                <form action="/update/recipe" method="post">
                    <input type="hidden" value="{{user.id}}" name="user_id">
                    <input type="hidden" value="{{recipe.id}}" name="id">
                    <div class="">
                        <div class="form-group">
                            <label for="name">Nombre: </label>
                            <input type="text" id="name" name="name" class="form-control" value="{{recipe.name}}">
                        </div>

                        <div class="form-group">
                            <label for="img">Inserta url de imagen</label>
                            <input type="text" id="img" name="img" class="form-control" value="{{recipe.img}}"
                                id="selectImage">
                        </div>

                        <div class="form-group ">
                            <label for="time_cook">Tiempo de cocción</label>
                            <div class="input-group mb-3">
                                <input type="number" id="time_cook" name="time_cook" class="form-control"
                                    value="{{recipe.time_cook}}">
                                <span class="input-group-text" id="basic-addon2">mins</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="level_recipe">Nivel de Preparacion: </label>
                            <select name="level_recipe" id="level_recipe">
                                <option value="1" {% if recipe.level_recipe==1 %} selected {% endif %}>Amateur</option>
                                <option value="2" {% if recipe.level_recipe==2 %} selected {% endif %}>Intermedio
                                </option>
                                <option value="3" {% if recipe.level_recipe==3 %} selected {% endif %}>Experto</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="description">descripcion</label>
                            <input type="text" id="description" name="description" class="form-control"
                                value="{{recipe.description}}">
                        </div>
                        <div class="form-group">
                            <label for="preparation">Preparacion</label>
                            <textarea  class="form-control" id="preparation" name="preparation" rows="5" cols="33">
                                {{recipe.preparation}}
                            </textarea>

                        </div>
                        <div class="form-group">
                            <label for="category_id">Escoge una categoria: </label>
                            <select name="category_id" id="category_id">
                                {% for categoria in categories %}
                                
                                <option 
                                {% if categoria.id == recipe.category_id %} selected {% endif %} 
                                value="{{categoria.id}}"> {{categoria.name}}</option>
                                
                                    <!-- <option value="{{recipe.category_id}}">{{recipe.categoria}}</option> -->

                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" value="actualizar" class="btn btn-success">
                    </div>
                    
                    <!-- ojo poner aqui un category para escoger la categoria por medio de jinja como cuando hacemos el formulario editar -->
                </form>

            </div>

            <div class="col-4">
                <div class="">
                    <div class="form-group">
                        <label for="photo_ud">Ingresa la url y obten la vista previa de la imagen</label>
                        <input type="text" name="photo_id" id="selectImage">
                    </div>
                    <img src="{{recipe.img}}" class=" mx-2  " width="200" id="prevImage" alt="vista previa imagen" />

                </div>
                {% endfor %}
            </div>
            <div class="col-2 text-end">
                <a href="/dashboard/0" class="btn btn-primary">Inicio</a>
                <a href="/view_recipes" class="btn btn-primary mt-3">Ver recetas</a>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>


    <script src="{{ url_for('static', filename='js/img.js') }}"></script>
</body>

</html>