<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a href="/dashboard" class="btn btn-primary">Home</a>
    {% with messages = get_flashed_messages(category_filter=['my_fridge']) %}
        {% if messages %}

        <div class="alert alert-danger">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>

        {% endif %}
    {% endwith %}
        <h1>Ingresa tus ingredientes, palabra clave...!!</h1>
        <form action="/search_ingredients" method="POST" class="input-group mb-3">
            <input type="text" class="form-control" name="search" placeholder="Busca tus ingrediente, palabra clave...!!" aria-label="Busca tus ingrediente, palabra clave...!!" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </form>