<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Registro</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="easy_bg">

    <div class="container">

        <div class="row text-center mt-5">

            <div class="col-6">
              <h2>Regístrate</h2>

              {% with messages = get_flashed_messages(category_filter=['registro']) %}
                  {% if messages %}
                      <div class="alert alert-danger">
                          {% for message in messages %}
                              <p>{{message}}</p>
                          {% endfor %}
                      </div>
                  {% endif %}
              {% endwith %}

              <form action="/registrate" method="post"> 
                  <div class="form-group">
                      <label for="first_name">Nombre</label>
                      <input type="text" id="first_name" name="first_name" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="last_name">Apellido</label>
                      <input type="text" id="last_name" name="last_name" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="email">E-mail</label>
                      <input type="text" id="email" name="email" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" id="password" name="password" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="confirm_password">Confirma Password</label>
                      <input type="password" id="confirm_password" name="confirm_password" class="form-control">
                  </div>
                  <div class="form-group mt-3">
                    <label for="level">Elige tu nivel: </label>
                    <select name="level" id="level">
                        <option value="1">Amateur</option>
                        <option value="2">Intermedio</option>
                        <option value="3">Experto</option>
                    </select>
                </div>
                  <input type="submit" value="Registrarme" class="btn btn-success mt-3">
              </form>
          
            </div>

            <div class="col-6">
              

                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <h2>Inicia Sesión</h2>
                <div class="contenedor">
                  
                    <article>
                        <h1>bienvenido a su app</h1>
                        <p>
                            Es un placer
                        </p>
                        <p>
                            que estes visitandonos
                        </p>
                        <p>
                            <button id="btn-abrir-popup" class="button btn-abrir-popup">click para ingresar</button>
                        </p>
                    </article>
            
                    <div class="overlay" id="overlay">
                        <div class="popup" id="popup">
                            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                            <h3>bienvenido</h3>
                            <h4>ingresa los campos</h4>
                            <form action="/login" method="post">
                                <div class="form-group">
                                    <label for="email2">E-mail</label>
                                    <input type="text" id="email2" name="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password2">Contraseña</label>
                                    <input type="password" id="password2" name="password" class="form-control">
                                </div>
                                <input type="submit" value="Iniciar Sesión" class="btn btn-warning">
                            </form>
                        </div>
                    </div>
                </div>


              
            </div>
          </div>
    </div>




        <script src="{{ url_for('static', filename='js/AdmiDashboard.js') }}"></script>
</body>

</html>