<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
</head>
<body>
    <div class="container">
        <a href="/dashboard" class="btn btn-primary">Home</a>
        {% with messages = get_flashed_messages(category_filter=['my_fridge']) %}
        {% if messages %}

        <div class="alert alert-danger">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>

        {% endif %}
    {% endwith %}

    <form action="/create_categorias" method="post"> 
        <div class="form-group">
            <label for="name" class="titleR">Categorias:</label>
            <input type="text" id="name" name="name"class="form-control">
        </div>
        <input type="submit" value="crear" class="btn btn-success">
</body>
    
</body>
</html>