<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Receta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-between align-items-center">
            <a href="/dashboard/0" class="btn btn-primary">home</a>
            <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>
        </header>
        <main>
            <div class="card">
                
                <div class="card-body">
                    <div>
                        <b>Nombre de la receta: </b>{{recipe.name}}
                    </div>
                    <div>
                        <b>tiempo de preparacion:</b> {{recipe.time_cook}} mins
                    </div>
                    <div>
                        <b>descripcion:</b>  {{recipe.description}}
                    </div> 
                    <div>
                        <b>Preparacion:</b>  {{recipe.preparation}}
                        <b>Preparacion:</b>  {{recipe.preparation}}


                        <b>Ingredientes:</b>  
                                {% for ingredient in recipe.ingrediente%}
                                <img src="../static/img/mercado/{{ingredient.icon}}" width="70px" alt="{{ingredient.name}}">{{ingredient.amount+ ' '+ingredient.name}},
                                {% endfor %}                
                    </div> 
                    <div>
                            {% if recipe.level_recipe == 1 %}
                            <b>Dificultad :</b> Amateur
                            {% endif %}
                            {% if recipe.level_recipe == 2 %}
                            <b>Dificultad :</b> Intermedio
                            {% endif %}
                            {% if recipe.level_recipe == 3 %}
                            <b>Dificultad :</b> Experto
                            {% endif %}
                    </div>
                    <div>
                        <b>Mira las Reseñas de esta receta:</b>
                        {% for reseña in reseñas %}  
                        {% if reseña.recipe_id == recipe.id %}
                        <div class="reseña">
                            <h5>Publicada por: {{user.first_name}}</h5>
                                    <h6>Reseña:</h6>
                                    <textarea disabled rows="4" cols="40" >{{reseña.contenido}}</textarea>
                                    <h6>Puntuacion:</h6>
                                    <h6>{{reseña.rate}}</h6>
                                    {% if reseña.user_id == user.id %}
                                    <a href="/edit/reseña/{{reseña.id}}" class="btn btn-primary">Editar</a>
                                    <a href="/delete/reseña/{{reseña.id}}" class="btn btn-danger">Borrar</a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                    </div>
                    <div class="col-4">
                        <form action="/create/reseña" method="post">
                            <input type="hidden" value="{{user.id}}" name="user_id">
                            <input type="hidden" value="{{recipe.id}}" name="recipe_id">
                            <div class="form-group">
                                <label for="content"><b>Deja tus comentarios/reseñas de la receta</b></label>
                            {% with messages = get_flashed_messages(category_filter=['reseña']) %}
                                {% if messages %}
                        
                                <div class="alert alert-danger">
                                    {% for message in messages %}
                                        <p>{{message}}</p>
                                {% endfor %}
                                </div>
                        
                                {% endif %}
                            {% endwith %}
                                <textarea class="form-control" name="contenido" id="contenido" cols="50" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="Score">Puntuacion: </label>
                                <select name="rate" id="rate">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input type="submit" value="Crear" class="btn btn-success">
                        </form>
                    </div>
                    <div>
                        <img src="{{ recipe.img}}" width="200px" alt="{{recipe.name}}">
                    </div>
                <div>
                
            </div>
        </main>
    </div>
</body>
</html>