<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-ligth  easy_color_nav" >
        <div class="container-fluid">
            <p></p>
            <h1 class="text-white">Easy Cook</h1>


            <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>
            
        </div>
    </nav>



    <div class="container">

        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">

                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    {% for ingredient in ingredients %}
                        <a class="dropdown-item" href="#">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" value="{{ingredient.name}}" onchange='handleChange(this);'>
                                <label class="form-check-label">{{ingredient.name}}</label>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-between">
                <div class="col-9">

                    <h1>Ingredientes</h1>
        
                    <table class="table table-hover mx-auto col-7 text-center">
                        <thead>
                            <tr>
                                
                                <th>Icono</th>
                                <th>Nombre</th>
                                <th>Acciones</th>
        
                            </tr>
                        <tbody>
                            {% for ingredient in ingredients %}
                            <tr>

                                <td><img src="../static/img/mercado/{{ingredient.icon}}" width="70px" alt="{{ingredient.name}}"></td>
                                <td>{{ingredient.name}}</td>
                                <td>
                                    <!-- <a href="#" class="btn btn-primary"></a> -->
                                    <a href="/edit_ingredient//{{ingredient.id}}" class="btn btn-warning">Editar</a>
                                    <a href="/delete_ingredient/{{ingredient.id}}" class="btn btn-danger">Borrar</a>
        
                                </td>
        
        
                            </tr>
                            {% endfor%}
        
                        </tbody>
                        </thead>
        
        
        
                    </table>




                </div>
            
                <div class="col-3 text-center">
                    <a class="btn btn-primary" href="/create_ingredients">Crear Ingrediente</a>
                    <a href="/dashboard/0" class="btn btn-primary">Home</a>
                </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
            
            
            
</body>
</html>